@import './assets/css/base.scss';
html,
body,
#root{
  height: 100%;
}

.container{
  height: calc(100% - 1.44rem);
  background: #fff;
}
.active{
  color:deeppink
}
.slider-list{
  height: 4.47rem !important;
}
*{
  touch-action:pan-y !important;
}